@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f1f1f;
    color: #fff;
  }

  .joke {
    background-color: #262626;
  }

  .joke:hover {
    background-color: #292929;
  }

  code {
    background-color: #2f2f2f;
    color: #fbda97;
  }

  inlinecode {
    background-color: #2f2f2f;
    color: #fff;
  }
}
